#cabecalho{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--cor-1);
    width: auto;
    height: 100px;
}

#titulo{
    font-family: var(--font-1);
    font-size: 2.5em;
    letter-spacing: 3px;
    color: white;
    margin-left: 25px;
    text-shadow: 1px 1px 1px var(--cor-7);
}
