footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-1);
    height: 50px;
    margin-top: 30px;
}

footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: white;
}