#menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    margin: 0 auto;
    padding: 15px;
}

#menu ul{
    display: flex;
}


.item{
    margin: 5px;
    padding: 10px;
    border: 5px solid var(--cor-6);
    border-radius: 100%;
}

.item img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 35px;
}