<nav id="menu">
    <ul>
        <a href="#"><li class="item"><img src="/assets/images/icons/jogador.png" alt="Imagem de: Soni Sokell"></li></a>
        <a href="#">
            <li class="item item1"><img src="/assets/images/icons/microchip.png" alt="Imagem de: Freepik"></li>
        </a>
        <a href="#">
            <li class="item item2"><img src="/assets/images/icons/smartphone.png" alt="Imagem de: Maxim Basinski"></li>
        </a>
        <a href="#">
            <li class="item item3"><img src="/assets/images/icons/tablet.png" alt="Imagem de: Dave Gandy"></li>
        </a>
    </ul> 
 </nav>