<main>
    <section id="produto" *ngFor="let ITEM of listaProdutos">
        <section class="area-produtos">
            <section class="titulo-produto">
                <h1>{{ITEM.nomeProduto}}</h1>
            </section>
            <section class="img-produto">
                <img src="{{ITEM.imagemProduto}}" alt="">
            </section>
            <section class="preco-produto">
                <h2>R$ {{ITEM.precoProduto | number: '1.2-2'}}</h2>
            </section>
        </section>
    </section>
</main>
